@import "./fonts.css";

* {
    font-family: Raleway-Thin;
    scroll-behavior: smooth;
    user-select: none;
}

html,
body {
    background-color: #0A1621;
    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    height: 100vh;
    margin: 0;
}

.header {
    height: 100%;
    background-image: url('../img/blob.svg');
    background-repeat: no-repeat;
    background-position-x: -100%;
    background-position-y: center;
    background-size: 80%;
}

.header>h1 {
    color: #FFFFFF;
    font-family: Raleway-Black;
    font-size: 250%;
    left: 6%;
    position: absolute;
    top: 45%;
}

.header>.right>h1 {
    color: #FFFFFF;
    font-family: Raleway-Black;
    font-size: 400%;
    position: absolute;
    right: 10%;
    top: 40%;
}

.header>.arrow {
    box-sizing: border-box;
    cursor: pointer;
    height: 5vmin;
    left: 50%;
    padding: 5px;
    position: absolute;
    top: 90%;
    transform: rotate(135deg);
    width: 5vmin;
}

.header>.arrow::before {
    border-color: #FAFAFA;
    border-style: solid;
    border-width: 0.5vmin 0.5vmin 0 0;
    content: "";
    display: block;
    height: 100%;
    transform-origin: 100% 0;
    transition: all 0.2s ease 0s;
    width: 100%;
}

.header>.arrow::after {
    border-color: #FAFAFA;
    border-style: solid;
    border-width: 0 0.5vmin 0 0;
    content: "";
    float: left;
    height: 100%;
    position: relative;
    top: -100%;
    transform-origin: 100% 0;
    transition: all 0.2s ease 0s;
    width: 100%;
}

.header>.arrow:hover::after {
    border-color: #3AA84B;
    height: 120%;
    transform: rotate(45deg);
}

.header>.arrow:hover::before {
    border-color: #3AA84B;
    transform: scale(0.8);
}

.content {
    height: 70em;
}

.content>div:nth-child(odd) {
    background: #FFFFFF;
    display: flex;
    height: 35em;
}

.content>div:nth-child(odd)>div {
    padding: 20px;
}

.content>div:nth-child(odd)>img {
    border-radius: 50px;
    height: 30em;
    object-fit: cover;
    object-position: center center;
    padding: 30px;
    width: 25em;
}

.content>div:nth-child(odd)>div>h1 {
    color: #0A1621;
    font-family: Raleway-Black;
    font-size: 50px;
}

.content>div:nth-child(odd)>div>p {
    color: #0A1621;
}

.content>div:nth-child(even) {
    background: #0A1621;
    display: flex;
    height: 35em;
}

.content>div:nth-child(even)>img {
    border-radius: 50px;
    height: 30em;
    object-fit: cover;
    object-position: center center;
    padding: 30px;
    width: 25em;
}

.content>div:nth-child(even)>div {
    padding: 20px;
}

.content>div:nth-child(even)>div>h1 {
    color: #FFFFFF;
    font-family: Raleway-Black;
    font-size: 50px;
}

.content>div:nth-child(even)>div>p {
    color: #FFFFFF;
}

/**/

.content>div.center {
    display: flex;
    height: 35em;
    width: 100vw;
}

.content>div.center>div {
    width: 100%;
}

.content>div.center>div>h1 {
    text-align: center;
}

.content>div.center>div>video {
    height: 25em;
    align-self: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

footer {
    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20%;
}

footer>p {
    font-family: Raleway;
    padding: 20px;
}

