@import './fonts.css';

* {
    font-family: Raleway-ExtraLight;
    scroll-behavior: smooth;
}

html,
body {
    background-color: #7E8137;
    color: #FFFFFF;
    margin: 0;
    width: 100%;
    user-select: none;
}

body {
    background-image: url('../img/footer_grass.svg');
    background-repeat: repeat-x;
    background-position: bottom;
    position: relative;
    min-height: 100vh;
}

h1 {
    font-family: Raleway-Black;
    font-size: 5vh;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-image: url('../img/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    z-index: 9;
    opacity: 0;
    height: 5vh;
    transition: 0.4s;
}

.navbar.active {
    opacity: 1;
    height: 10vh;
}

.navbar>.title>img {
    width: 75px;
    border-radius: 10px;
}

.navbar>.title>span {
    font-family: 'Lato-Black';
    font-size: 60px;
    margin-left: 13px;
    position: relative;
    bottom: 11px;
}

.navbar>.end {
    display: flex;
    justify-content: space-between;
}

.navbar>.end>a {
    margin: auto;
    margin: 0.5rem;
    padding: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
    font-size: 2.5vh;
    background-color: #fff;
    color: #00101C;
    font-family: Raleway-Black;
    font-weight: bold;
    text-decoration: none;
    mix-blend-mode: screen;
    position: relative;
}

.navbar>.end>a::before {
    text-decoration: none;
}

.navbar>.end>a:hover::before {
    text-decoration: none;
}

img.cutout {
    mask-image: url('../img/cutout.svg');
    -webkit-mask-image: url('../img/cutout.svg');
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

img.cutout2 {
    mask-image: url('../img/cutout2.svg');
    -webkit-mask-image: url('../img/cutout2.svg');
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

img.cutout3 {
    mask-image: url('../img/cutout3.svg');
    -webkit-mask-image: url('../img/cutout3.svg');
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: url('../img/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header>img {
    position: absolute;
    top: 43vh;
    left: 50%;
    transform: translate(-50%, -35%);
    mask-position: 50%;
    -webkit-mask-position: 50%;
    height: 82vh;
}

.header>h1 {
    background-color: #fff;
    color: #000;
    font-family: Raleway-Black;
    font-size: 10vh;
    position: absolute;
    top: 65vh;
    left: 50%;
    transform: translate(-50%, -65%);
    mix-blend-mode: screen;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.header>.right>h1 {
    color: #FFFFFF;
    font-family: Raleway-Black;
    font-size: 400%;
    position: absolute;
    right: 10%;
    top: 40%;
}

.header>.arrow {
    box-sizing: border-box;
    cursor: pointer;
    height: 45px;
    left: 50%;
    padding: 5px;
    position: absolute;
    top: 90vh;
    transform: rotate(135deg);
    width: 45px;
}

.header>.arrow::before {
    border-color: #FAFAFA;
    border-style: solid;
    border-width: 0.5vmin 0.5vmin 0 0;
    content: '';
    display: block;
    height: 100%;
    transform-origin: 100% 0;
    transition: all 0.2s ease 0s;
    width: 100%;
}

.header>.arrow::after {
    border-color: #FAFAFA;
    border-style: solid;
    border-width: 0 0.5vmin 0 0;
    content: '';
    float: left;
    height: 100%;
    position: relative;
    top: -100%;
    transform-origin: 100% 0;
    transition: all 0.2s ease 0s;
    width: 100%;
}

.header>.arrow:hover::after {
    border-color: #A27240;
    height: 120%;
    transform: rotate(45deg);
}

.header>.arrow:hover::before {
    border-color: #A27240;
    transform: scale(0.8);
}

.content {
    min-height: 70vh;
    margin: 50px;
    margin-bottom: 0;
    user-select: text;
    padding-bottom: 230px;
}

.content>div {
    display: flex;
}

.content>div>div:first-child {
    width: 100%;
}

.right {
    position: relative;
    right: 0;
}

footer {
    height: 5vh;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

footer p {
    font-family: Raleway;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}

footer a {
    color: #688a33;
}

footer a::before {
    background-color: #688a33;
}

a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
    font-family: Raleway-Bold;
}

a::before {
    background-color: #ffffff;
    bottom: -0.5px;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left top;
    transition: transform 0.3s ease 0s;
    width: 100%;
}

a:hover::before {
    transform: scaleX(1);
}